name: Deploy to Koyeb

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy To Koyeb
        uses: koyeb/action-git-deploy@v1
        with:
          app-name: social-posts-app
          service-name: social-posts-app
          api-token: ${{ secrets.KOYEB_TOKEN }}
